.h-scrollbar {
  &::-webkit-scrollbar {
    height: 6px;
  }
}

.v-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
}

.h-scrollbar, .v-scrollbar {
  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
  }
  // &::-webkit-scrollbar-track {
  //   /*滚动条里面轨道*/
  // }
}

.h-scrollbar-with-children {
  &::-webkit-scrollbar {
    height: 6px;
  }
  ::-webkit-scrollbar {
    height: 6px;
  }
}

.v-scrollbar-with-children {
  &::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
}

.h-scrollbar-with-children, .v-scrollbar-with-children {
  &::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
  }
  // &::-webkit-scrollbar-track {
  //   /*滚动条里面轨道*/
  // }
  ::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
  }
  // ::-webkit-scrollbar-track {
  //   /*滚动条里面轨道*/
  // }
}
